name: README build
on:
  # push:
  #   branches:
  #     - main
  # schedule:
  #   - cron: "0 4 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        
      - name: Set up Python
        run: uv python install

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Enable caching
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
      
      - name: Update README file
        run: uv run pytest tests

      - name: Commit
        run: |-
          git add .
          git diff
          git config --global user.email "github-actions-bot@ekacsh.github.io"
          git config --global user.name "ekacsh/GitHub-Actions-Bot"
          git commit -m "Updated README" -a || echo "No changes to commit"
          git push
